* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(113, 41, 161);
    position: relative;
    height: 100vh;
}

main {
    position: absolute;
    background-color: white;
    width: 254px;
    height: 510px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    box-shadow: 0px 0px 17px 1px rgba(0, 0, 0, 0.541);
}

section#imagem {
    background-image: url(../imagens/metal.jpg);
    width: 254px;
    height: 187px;
    margin-left: px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-size: cover;
    background-position: left bottom;
}

section > h2 {
    user-select: none;
    margin-top: 15px;
    text-align: center;
}

section > p {
    user-select: none;
    font-size: 13px;
    font-weight: lighter;
    margin-top: 3px;
    padding: 12px;
    line-height: 17px;
}

div.fundo {
    background-color: purple;
}

#fundo1 {
    margin-left: 12px;
    width: 228px;
    height: 40px;
    border-radius: 7px;
}

#fundo2 {
    margin-left: 12px;
    width: 228px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 7px;
}

#icon1 {
    color: white;
    padding: 8px;
}

#icon2 {
    color: white;
    padding: 8px;
}

#input1 {
    background-color: white;
    color: white;
    width: calc(100%, 7px);
    height: 22px;
    padding: 4px;
    transform: translateY(-7px);
    border-radius: 5px;
    border: 1px solid black;
}

#input2 {
    background-color: white;
    color: white;
    width: calc(100%, 47px);
    height: 22px;
    padding: 4px;
    transform: translateY(-7px);
    border-radius: 5px;
    border: 1px solid black;
}

input#submit {
    color: white;
    background-color: purple;
    width: 228px;
    height: 40px;
    border-radius: 7px;
    margin-left: 12px;
    
}

input#reset {
    color: white;
    background-color: purple;
    width: 228px;
    height: 40px;
    border-radius: 7px;
    margin-left: 12px;
    margin-top: 6px;
}

#reset:hover {
    background-color: rgb(12, 70, 70);
}

#submit:hover {
    background-color: rgb(14, 85, 85);
}

